
@media (max-width: 426px){
    .header {
        display: flex;
        width: 100%;
        height: 15em;
        background-size: cover;
        background-image: url('backgroundOf.jpg');
    }
    .header__text {
        color: var(--white);
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10em 1em ;
    }
    .header__text h1 {
        font-size: 1.5em;
        font-weight: normal;
    }

    .header__text small{
        margin-top: 0.2em;
        font-size: 1em;
        color: #a8a7a7;
    }
}

@media (min-width:426px) and (max-width: 769px){
    .header {
        display: flex;
        width: 100%;
        height: 15em;
        background-size: cover;
        background-image: url('backgroundOfMaiores.png');
    }
    .header__text {
        color: var(--white);
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10em 2em ;
    }
    .header__text h1 {
        font-size: 1.8em;
        font-weight: normal;
    }

    .header__text small{
        margin-top: 0.2em;
        font-size: 1.2em;
        color: #a8a7a7;
    }
}
 

@media (min-width:769px) and (max-width: 1025px){
    .header {
        display: flex;
        background-image: url('backgroundOfMaiores.png');
        width: 100%;
        height: 20em;
        background-size: cover;
    }
    .header__text {
        color: var(--white);
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10em 2em ;
        text-align: center;
    }
    .header__text h1 {
        font-size: 2.5em;
        font-weight: normal;
    }

    .header__text small{
        margin-top: 0.2em;
        font-size: 1.5em;
        color: #a8a7a7;
    }
} 


@media (min-width: 1025px) {
    .header {
        display: flex;
        background-image: url('backgroundOfMaiores.png');
        width: 100%;
        height: 20em;
        background-size: cover;
    }
    .header__text {
        color: var(--white);
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10em 2em ;
        text-align: center;
    }
    .header__text h1 {
        font-size: 2.8em;
        font-weight: normal;
    }

    .header__text small{
        margin-top: 0.2em;
        font-size: 1.5em;
        color: #a8a7a7;
    }
}



