@media (max-width: 426px) {
  .navbar {
    background-color: var(--primary);
    height: 5em;
  }
  .navbar ul {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar a {
    text-decoration: none;
    color: var(--black);
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
  }
  .navbar p {
    color: var(--lightText);
    font-weight: lighter;
    font-size: 0.9em;
    margin-top: 0.3em;
  }
  .navbar__button{
    padding: 0.5em;
    width: 6em;
    background-color: var(--gold);
    border-radius: 12px;
    border: none;
    margin-top: 0.2em;
  }
  .navbar a .navbar__button__p{
    font-size: 0.7em;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
    .navbar {
        background-color: var(--primary);
        height: 5em;
      }
      .navbar ul {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    
      .navbar a {
        text-decoration: none;
        color: var(--black);
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5em;
      }
      .navbar p {
        color: var(--lightText);
        font-weight: lighter;
        font-size: 0.9em;
        margin-top: 0.3em;
      }
      .navbar__button{
        padding: 0.5em;
        width: 6em;
        background-color: var(--gold);
        border-radius: 12px;
        border: none;
        margin-top: 0.2em;
      }
      .navbar a .navbar__button__p{
        font-size: 0.7em;
      }
}

@media (min-width: 769px) and (max-width: 1025px) {
    .navbar {
        background-color: var(--primary);
        height: 5em;
      }
      .navbar ul {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    
      .navbar a {
        text-decoration: none;
        color: var(--black);
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5em;
      }
      .navbar p {
        color: var(--lightText);
        font-weight: lighter;
        font-size: 0.9em;
        margin-top: 0.3em;
      }
      .navbar__button{
        padding: 0.5em;
        width: 6em;
        background-color: var(--gold);
        border-radius: 12px;
        border: none;
        margin-top: 0.2em;
      }
      .navbar a .navbar__button__p{
        font-size: 0.7em;
      }
}

@media (min-width: 1025px) {
    .navbar {
        background-color: var(--primary);
        height: 5em;
      }
      .navbar ul {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    
      .navbar a {
        text-decoration: none;
        color: var(--black);
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5em;
      }
      .navbar p {
        color: var(--lightText);
        font-weight: lighter;
        font-size: 0.9em;
        margin-top: 0.3em;
      }
      .navbar__button{
        padding: 0.5em;
        width: 6em;
        background-color: var(--gold);
        border-radius: 12px;
        border: none;
        margin-top: 0.2em;
      }
      .navbar a .navbar__button__p{
        font-size: 0.7em;
      }
}
